*{
	/*border:1px solid black;*/
	font-size: 16px;
}

#card{
	top:25vh;
	font-size: 2rem;
}

#inputParticipants{
	width: 10vw;
}

#card{
	border-radius: 10px;
	background-color: #25556D;
	color: whitesmoke;
}

#landPage>h1 {
	color: #1F9BCF;
	font-weight: bold;
	font-size: 4rem;
	padding-bottom: 40px; 
}

body {
	background: url(https://i.pinimg.com/originals/4e/47/f6/4e47f624ffeeec66be0c833f4bff5973.gif);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/*#landPage{
	background: url(https://i.pinimg.com/originals/4e/47/f6/4e47f624ffeeec66be0c833f4bff5973.gif);
	background-size: cover;
	background-position: fixed;
	background-attachment: fixed;
}*/
/*
#mainPage{
	background: url(https://i.pinimg.com/originals/4e/47/f6/4e47f624ffeeec66be0c833f4bff5973.gif);
	background-size: cover;
	background-position: fixed;
}*/

#fontEnter{
	font-size: 35px;
	color: whitesmoke;
}